@use 'colors' as c;

// Image effects
@mixin img-effect($color: c.$color-primary) {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: $color;
    mix-blend-mode: screen;
    opacity: 0.9;
  }

  img {
    mix-blend-mode: multiply;
    opacity: 0.8;
  }
}
