@use 'colors' as c;
@use 'variables' as v;

// TYPOGRAPHY
$type-primary: "Inter", sans-serif;
$type-display: "Lexend Deca", sans-serif;

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
  color: c.$color-white;

  @media only screen and (max-width: v.$bp-large) {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.2rem;
  }

  @media only screen and (max-width: v.$bp-medium) {
    text-align: center;
  }
}

p {
  // font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: c.$color-white;
  opacity: 0.6;
  @media only screen and (max-width: v.$bp-medium) {
    text-align: center;
  }
}

.heading-highlight {
  color: c.$color-primary;
}

.stat__value {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  color: c.$color-white;
  display: block;
  margin-bottom: 0.2rem;
}

.stat__name {
  font-family: $type-display;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  opacity: 0.6;
  display: block;
}
