@use 'abstract/colors' as c;
@use 'abstract/typography' as t;
@use 'abstract/variables' as v;
@use 'components/card';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: t.$type-primary;
  background-color: c.$color-dark;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;

  @media only screen and (max-width: v.$bp-medium) {
    align-items: flex-start;
  }
}
